[Unit]
Description=A minimal PyPI server for use with pip/easy_install.
After=network.target

[Service]
Type=simple
# systemd requires absolute path here too.
PIDFile={{ pypi_server_pid_file }}
User={{ pypi_user }}
Group={{ pypi_group }}

{% if enable_anonymous_auth %}
ExecStart=/usr/bin/pypi-server -p {{ pypi_server_port }} -a . --log-file {{ pypi_log_file }} -P . {{ pypi_packages_directory }}
{% else %}
ExecStart=/usr/bin/pypi-server -p {{ pypi_server_port }} -a update --log-file {{ pypi_log_file }} -P {{ htaccess_dir }}/.htaccess {{ pypi_packages_directory }}
{% endif %}
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

WorkingDirectory={{ pypi_work_dir }}

TimeoutStartSec=3
RestartSec=5

[Install]
WantedBy=multi-user.target
